[Desktop Entry]
Name=PassMan
Name[pt]=Passman
GenericName=Password Manager
GenericName[pt]=Gestor de Passwords
Comment=Easily manage all your passwords.
Comment[pt]=Faça facilmente a gestão de todas as suas senhas.
Exec=passman --hide
Icon=dialog-password
Type=Application
Categories=Utility;
