# Include the license file
include LICENSE.txt

# Include the desktop file
include freedesktop/passman.desktop

# Include schema file
include schema/com.idlecore.passman.gschema.xml

# Include GUI files
recursive-include gui *

# Include logo names cache file
include cache/logo_name_cache.bz2
